*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

hr{
    border:1px solid #333;
    margin: 10px;
}
body{
    background-image: url(fundo.jpg);
    background-position: center;
}
#site{
    width: 1300px;
    background-color: #FFF;   
    margin: 20px auto; 
    border-radius: 15px
}
#topo{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    padding: 20px;

}
#topo h2{
    font-size: 40px;
}
#corpo{
    padding: 10px;
}
#corpo h1{
    font-size: 2.5em;
    margin: 20px;
}
#corpo p{
    font-size: 17px;
}
#ponte{
    float: left;
    margin: 0px 10px 10px 0;
    width: 600px;
}
#formb{
    flex-grow: 1;
    text-align: right;

    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
#busca{
    border: 2px solid #515151;
    padding: 3px;
}
#formb button{
    background: transparent;
    cursor: pointer;
}
#formb button svg{
    transition: all 300ms;
}

#formb button:hover svg{
    stroke: #888;
}
#menu{
    background: #272727;
    margin: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
#menu a{
    color: #FFF;
    text-decoration: none;
    transition: all 300ms;
}
#menu a:hover{
    color: rgb(118, 123, 255)
}

#rodape{
    padding:10px;
    text-align: center;
    border-top: 2px solid #333;
    margin:10px;
}
#social{
    margin-top: 1px;
    padding: 1px;
}
#social a{
    text-decoration: none;
}




